<!-- task01.html -->  
<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Model Data Representing</title>  
</head>  
<body>  
    <h1>Model Data</h1>  
    <ul>  
        {% for item in products %}  
            <li>{{ item.Product_Name | default:"No Name" }}</li>  
            <li>{{ item.catagory | default:"No Category" }}</li>  
            <li>{{ item.price | default:"No Price" }}</li>  
            <li>{{ item.Product_Disc | default:"No Description" }}</li>  
            <li>{{ item.Publish_Date | default:"No Publish Date" }}</li>  
            <li>{{ item.image | default:"No Image" }}</li> <br> 
        {% empty %}  
            <li>No data available.</li>  
        {% endfor %}  
    </ul>  
</body>  
</html> 