<html>  
<head>  
    <title>Home</title>  
</head>  
<body>  
    <h1>Welcome to Text Analyzer, Enter Text Below to Analyze!</h1>  
    <form action="/analyze" method="get">  
        <textarea name="txt" style='width: 1331px; height: 217px;'></textarea><br>  
        <input type="checkbox" name="rempunc">Punction Remove </input><br> 
        <input type="checkbox" name="Capatlize"> Capatilize </input><br> 
        <input type="checkbox" name="Newline_remover"> Remove New Lines </input><br> 
        <input type="checkbox" name="Space_remover"> Remove Extra spaces</input><br> 
        <input type="checkbox" name="Char_counter"> Count Characters</input><br> 
        
        
        

        <button type="submit">Submit</button>  
    </form>  
</body>  
</html>